#chart-area svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.controls {
  display: flex;
  justify-content: space-evenly;
}

#continent-select {
  width: 20%;
}

#tooltip {
  color: white;
  background-color: rgba(0, 0, 0, 0.404);
  padding: 5px;
}

#tooltip ul {
  list-style: none;
}

#slider-div {
  width: 30%;
}
